body{
    font-family: 'Redressed', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.bg-center{
    text-align: center;
}
.name-highlight{
    color: aqua;
}
.sec-name-highlight{
    color: coral;
}
.th-name-highlight{
    color:indianred;
}
.fou-name-highlight{
    color:lightsalmon;
}
.fif-name-highlight{
    color:lightskyblue;
}
.six-name-highlight{
    color:mediumturquoise;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
.low-width{
    float: left;
    width: 32%;
    padding: 3px;
}
.low-width img{
    height: 300px;
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.footer{
    color:mintcream;
    text-align: right;
}
.content {
    text-align: center;
  }
  .content h1 {
    font-family: 'Sansita', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    color: #282828;
    margin-bottom: 10px;
  }
  .content  i {
    color: #FFC107;
  }
  .content span {
    position: relative;
    display: inline-block;
  }
  .content  span:before, .content  span:after {
    position: absolute;
    content: "";
    background-color: #282828;
    width: 40px;
    height: 2px;
    top: 40%;
  }
  .content  span:before {
    left: -45px;
  }
  .content  span:after {
    right: -45px;
  }
  .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .wrapper {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 14px;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
  }
  
  .wrapper label {
    position: relative;
    float: right;
    color: #C8C8C8;
  }
  
  .wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .wrapper input:checked ~ label:before {
    color: #FFC107;
  }
  
  .wrapper label:hover ~ label:before {
    color: #ffdb70;
  }
  
  .wrapper label:hover:before {
    color: #FFC107;
  }